# Import and Tidy

In [25]:
import pandas as pd

## Pitching

In [26]:
pitching = pd.read_csv("/data/jnogle/pitching.csv")
pitching_last_decade = pitching[pitching.year >= 2000]

In [27]:
pitching_post = pd.read_csv("/data/jnogle/pitching_postseason.csv")
pitching_post_last_decade = pitching_post[pitching_post.year >= 2000]

In [28]:
pitching_last_decade.head()

,player_id,year,stint,team_id,league_id,w,l,g,gs,cg,...,ibb,wp,hbp,bk,bfp,gf,r,sh,sf,g_idp
32900,abbotpa01,2000,1,SEA,AL,9,7,35,27,0,...,4.0,3.0,5.0,0,766.0,2.0,89,1.0,4.0,NaN
32901,aceveju01,2000,1,MIL,NL,3,7,62,0,0,...,9.0,3.0,1.0,2,347.0,18.0,38,1.0,1.0,NaN
32902,adamste01,2000,1,LAN,NL,6,9,66,0,0,...,0.0,5.0,0.0,0,369.0,18.0,42,3.0,0.0,NaN
32903,aguilri01,2000,1,CHN,NL,1,2,54,0,0,...,2.0,1.0,4.0,0,210.0,44.0,28,1.0,0.0,NaN
32904,aldresc01,2000,1,PHI,NL,1,3,23,0,0,...,0.0,1.0,1.0,0,95.0,5.0,14,1.0,2.0,NaN

The above dataframe contains the pitching statistics for MLB players during the regular season from the years 2000-2015. We are going to drop columns that have no relevance to the measurement of the team's overall success in a season. This results in the dataframe below.

In [29]:
pitching_last_decade = pitching_last_decade.drop(['stint','cg','sho','sv','ipouts','h','er','hr','bb','so',
                           'baopp','ibb','wp','hbp','bk','bfp','gf','sh','sf','g_idp','r','gs','w','l','g','league_id'],axis=1)

In [30]:
pitching_last_decade.head()

       player_id  year team_id   era
32900  abbotpa01  2000     SEA  4.22
32901  aceveju01  2000     MIL  3.81
32902  adamste01  2000     LAN  3.52
32903  aguilri01  2000     CHN  4.91
32904  aldresc01  2000     PHI  5.75

There is a small number (14 or so) of records that have a null value in the ERA column. If we were to replace these nulls with a numerical value, it would cause errors when calculating averages and other statistics. Thus, since it is a small number, we will drop these records and not use them.

In [31]:
pitching_last_decade = pitching_last_decade.dropna()
pitching_last_decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11225 entries, 32900 to 44138
Data columns (total 4 columns):
player_id    11225 non-null object
year         11225 non-null int64
team_id      11225 non-null object
era          11225 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 438.5+ KB

In [32]:
pitching_last_decade.to_pickle('pitching_last_decade')

We also want to analyze teams' performance in the postseason, as this will provide more evidence to answer our question. The following dataframe will hold pitching data as well, but only for the postseason in the years 2000-2015. We will drop the same columns as before, and drop records that have null-valued ERA.

In [33]:
pitching_post_last_decade = pitching_post_last_decade.drop(['cg','sho','sv','ipouts','h','er','hr','bb','so',
                           'baopp','ibb','wp','hbp','bk','bfp','gf','sh','sf','g_idp','r','gs','w','l','g','league_id'],axis=1)

In [34]:
pitching_post_last_decade.head()

      player_id  year round team_id  era
2788  choatra01  2000  ALCS     NYA  0.0
2789  clemero02  2000  ALCS     NYA  0.0
2790   coneda01  2000  ALCS     NYA  0.0
2791  goodedw01  2000  ALCS     NYA  0.0
2792  grimsja01  2000  ALCS     NYA  0.0

In [35]:
pitching_post_last_decade = pitching_post_last_decade.dropna()
pitching_post_last_decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2215 entries, 2788 to 5108
Data columns (total 5 columns):
player_id    2215 non-null object
year         2215 non-null int64
round        2215 non-null object
team_id      2215 non-null object
era          2215 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 103.8+ KB

In [36]:
pitching_post_last_decade.to_pickle('pitching_post_last_decade')

## Batting

In [39]:
batting = pd.read_csv("/data/jnogle/batting.csv")
batting_last_decade = batting[batting.year >= 2000]

In [51]:
batting_post = pd.read_csv("/data/jnogle/batting_postseason.csv")
batting_post_last_decade = batting_post[batting_post.year >= 2000]

In [41]:
batting_last_decade.head()

,player_id,year,stint,team_id,league_id,g,ab,r,h,double,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,g_idp
79248,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,29.0,2.0,1.0,21.0,38.0,1.0,2.0,2.0,1.0,2.0
79249,abbotku01,2000,1,NYN,NL,79,157.0,22.0,34.0,7.0,...,12.0,1.0,1.0,14.0,51.0,2.0,1.0,0.0,1.0,2.0
79250,abbotpa01,2000,1,SEA,AL,35,5.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
79251,abreubo01,2000,1,PHI,NL,154,576.0,103.0,182.0,42.0,...,79.0,28.0,8.0,100.0,116.0,9.0,1.0,0.0,3.0,12.0
79252,aceveju01,2000,1,MIL,NL,62,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

The above dataframe contains the batting statistics for MLB players during the regular season from the years 2000-2015. We are going to drop columns that have no relevance to the measurement of the team's overall success in a season. This results in the dataframe below.

In [42]:
batting_last_decade = batting_last_decade.drop(['stint','double','triple','hr','sb','cs','bb','hr','bb','so',
                           'ibb','hbp','sh','sf','r','g_idp','rbi','g','league_id'],axis=1)

In [43]:
batting_last_decade.head()

       player_id  year team_id     ab      h
79248  abbotje01  2000     CHA  215.0   59.0
79249  abbotku01  2000     NYN  157.0   34.0
79250  abbotpa01  2000     SEA    5.0    2.0
79251  abreubo01  2000     PHI  576.0  182.0
79252  aceveju01  2000     MIL    1.0    0.0

Instead of having the "ab" (at bats) and "h" (hits) column, we will create a "ba" (batting average = h/ab) column to measure success of individual players and teams and their hitting.

In [44]:
batting_last_decade['ba'] = batting_last_decade.h/batting_last_decade.ab
batting_last_decade = batting_last_decade.drop(['ab','h'],axis=1)

In [45]:
batting_last_decade.head()

       player_id  year team_id        ba
79248  abbotje01  2000     CHA  0.274419
79249  abbotku01  2000     NYN  0.216561
79250  abbotpa01  2000     SEA  0.400000
79251  abreubo01  2000     PHI  0.315972
79252  aceveju01  2000     MIL  0.000000

About 5000 entries in this table have 0 at bats, thus resulting in a null value for batting average (dividing by zero). We will drop these entries, being that a player with no at bats will not contribute any valuable information to our data analysis for batting.

In [46]:
batting_last_decade = batting_last_decade.dropna()
batting_last_decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16269 entries, 79248 to 101330
Data columns (total 4 columns):
player_id    16269 non-null object
year         16269 non-null int64
team_id      16269 non-null object
ba           16269 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 635.5+ KB

In [47]:
batting_last_decade.to_pickle('batting_last_decade')

Just as we did with pitching, we will create a postseason dataframe for batting as well. We will create the "ba" column as we did above.

In [52]:
batting_post_last_decade = batting_post_last_decade.drop(['double','triple','hr','sb','cs','bb','hr','bb','so',
                           'ibb','hbp','r','sh','sf','g_idp','rbi','g','league_id'],axis=1)
batting_post_last_decade['ba'] = batting_post_last_decade.h/batting_post_last_decade.ab
batting_post_last_decade = batting_post_last_decade.drop(['ab','h'],axis=1)
batting_post_last_decade = batting_post_last_decade.dropna()

In [53]:
batting_post_last_decade.head()

      year round  player_id team_id        ba
6982  2000  ALCS   bellda01     SEA  0.222222
6984  2000  ALCS  brosisc01     NYA  0.222222
6985  2000  ALCS  buhneja01     SEA  0.181818
6986  2000  ALCS  camermi01     SEA  0.111111
6988  2000  ALCS  guillca01     SEA  0.200000

In [54]:
batting_post_last_decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421 entries, 6982 to 11689
Data columns (total 5 columns):
year         3421 non-null int64
round        3421 non-null object
player_id    3421 non-null object
team_id      3421 non-null object
ba           3421 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 160.4+ KB

In [55]:
batting_post_last_decade.to_pickle('batting_post_last_decade')

## Fielding

In [56]:
fielding = pd.read_csv("/data/jnogle/fielding.csv")
fielding_last_decade = fielding[fielding.year >= 2000]

In [57]:
fielding_post = pd.read_csv("/data/jnogle/fielding_postseason.csv")
fielding_post_last_decade = fielding_post[fielding_post.year >= 2000]

In [28]:
fielding_last_decade.head()

,player_id,year,stint,team_id,league_id,pos,g,gs,inn_outs,po,a,e,dp,pb,wp,sb,cs,zr
132439,abbotje01,2000,1,CHA,AL,CF,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132440,abbotje01,2000,1,CHA,AL,LF,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132441,abbotje01,2000,1,CHA,AL,OF,65,NaN,1356.0,101.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
132442,abbotje01,2000,1,CHA,AL,RF,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132443,abbotku01,2000,1,NYN,NL,2B,23,NaN,312.0,23.0,29.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN

The above dataframe contains the fielding statistics for MLB players during the regular season from the years 2000-2015. We are going to drop columns that have no relevance to the measurement of the team's overall success in a season. We will also drop entries that have no errors (null-value in the "e" column), as this will be how we are measuring fielding success.  This results in the dataframe below.

In [58]:
fielding_last_decade = fielding_last_decade.drop(['stint','pos','gs','inn_outs','po','a','dp','pb','wp','sb',
                           'cs','zr','g'],axis=1)
fielding_last_decade = fielding_last_decade.dropna()

In [59]:
fielding_last_decade.head()

        player_id  year team_id league_id    e
132441  abbotje01  2000     CHA        AL  2.0
132443  abbotku01  2000     NYN        NL  1.0
132444  abbotku01  2000     NYN        NL  0.0
132446  abbotku01  2000     NYN        NL  0.0
132447  abbotku01  2000     NYN        NL  6.0

In [60]:
fielding_last_decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29019 entries, 132441 to 170525
Data columns (total 5 columns):
player_id    29019 non-null object
year         29019 non-null int64
team_id      29019 non-null object
league_id    29019 non-null object
e            29019 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.3+ MB

In [61]:
fielding_last_decade.to_pickle('fielding_last_decade')

Below is the dataframe for postseason fielding statistics.

In [62]:
fielding_post_last_decade = fielding_post_last_decade.drop(['pos','gs','inn_outs','po','a','dp','pb','sb',
                           'cs','tp'],axis=1)

In [63]:
fielding_post_last_decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5243 entries, 7068 to 12310
Data columns (total 7 columns):
player_id    5243 non-null object
year         5243 non-null int64
team_id      5243 non-null object
league_id    5243 non-null object
round        5243 non-null object
g            5243 non-null int64
e            5243 non-null int64
dtypes: int64(3), object(4)
memory usage: 327.7+ KB

In [64]:
fielding_post_last_decade.to_pickle('fielding_post_last_decade')

## Team Performance

Finally, we will create a dataframe to analyze how teams performed in a given season. We will measure the success of teams by their rank, number of wins, and whether or not they won the World Series.

In [65]:
team = pd.read_csv("/data/jnogle/team.csv")
team_last_decade = team[team.year >= 2000]
team_last_decade = team_last_decade.drop(['franchise_id','league_id','ghome','l','div_win','wc_win','lg_win','r','ab',
                                         'h','double','triple','hr','bb','so','sb','cs','hbp','sf','ra','er',
                                          'era','cg','sho','sv','ipouts','ha','hra','bba','soa','e','dp','fp',
                                          'park','attendance','bpf','ppf','team_id_br','team_id_lahman45','team_id_retro'],axis=1)

In [66]:
team_last_decade.head()

      year team_id div_id  rank    g   w ws_win                  name
2325  2000     ANA      W     3  162  82      N        Anaheim Angels
2326  2000     ARI      W     3  162  85      N  Arizona Diamondbacks
2327  2000     ATL      E     1  162  95      N        Atlanta Braves
2328  2000     BAL      E     4  162  74      N     Baltimore Orioles
2329  2000     BOS      E     2  162  85      N        Boston Red Sox

In [67]:
team_last_decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 2325 to 2804
Data columns (total 8 columns):
year       480 non-null int64
team_id    480 non-null object
div_id     480 non-null object
rank       480 non-null int64
g          480 non-null int64
w          480 non-null int64
ws_win     480 non-null object
name       480 non-null object
dtypes: int64(4), object(4)
memory usage: 33.8+ KB

In [68]:
team_last_decade.to_pickle('team_last_decade')